<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/nl_logo_small.jpg" alt="" />
      <ion-card-header>
        <!--ion-card-subtitle>Welcome</ion-card-subtitle-->
        <ion-card-title>Welcome to New Leaf</ion-card-title>
      </ion-card-header>
      <!--ion-card-content>
        <p>A whole new approach.</p>
      </ion-card-content-->
    </ion-card>
    <ion-list lines="none">
      <!--ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header-->
      <ion-item href="https://www.monthlywarranty.com/3.0/customer/top_login_frame.php?other_portal=1">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>About Us</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Contact Us</ion-label>
      </ion-item>
      <!--ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Feedback</ion-label>
      </ion-item-->
    </ion-list>
</ion-content>
